.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-block: 32px;
  padding-inline: 64px;
  background-color: transparent;
  transition: all 0.5s ease;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.header.scrolled {
  background: linear-gradient(to right, #032a3a, #517575);
  padding-block: 20px;
}

.logo {
  width: 258px;
}

.logo > img {
  width: 100%;
  object-fit: contain;
}

.nav-list {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  align-items: center;
  color: #ffffff;
}

.nav-item {
  list-style: none;
}
.nav-link {
  color: #FFFFFFA6;
}
.nav-active{
  color: #FFFFFF;
}

.nav-item:last-child .nav-link {
  background-color: #ffffff;
  padding: 18px 24px;
  color: black;
}

.marquee {
  margin-top: 80px;
  --gap: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  list-style: none;
}
.marquee__content {
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #696969;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    margin: 10px;
  }
}
